 <div class="header">
          <div class="nav">
            <div class="logo">
              <img class="logo-lib" src="#" alt="" />
            </div>
            <div class="search">
              <input class="search1" type="text" placeholder="Search" />
              <button>🔍</button>
            </div>
            <div class="homesvg">
              <img class="homeicon" src="https://cdn1.iconfinder.com/data/icons/admin-panel-white-with-multicolor-circle-backgroun/2048/Home-64.png" alt="homeicon">&nbsp;
              <a class="home" href="/"><b>Home</b></a>
            </div>
            <div class="admin-hai">
              <a class="HuAdmin" href="/admin">Admin</a>
            </div>
            <div class="shop">
              <a class="shophu" href="/shop">Shop</a>
            </div>
            <div class="addup">
              <button class="addup2">
                <a class="addup2" href="/entry/login">Log in</a>
              </button>
              <button class="addup1">
                <a class="addup1" href="/entry/signup">Sign up</a>
              </button>
            </div>
            <div class="cartlogo">
              <a class="cartlogo2" href="/shop/cart"><b>Cart</b></a>
            </div>
          </div>
        </div>