<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <style>
        .product-list {
            display: flex;
            justify-content: space-around;
            padding: 10px;
            width: 80%;
            margin: auto;
        }

        .product-item {
            padding: 5px;
            border-radius: 5px;
            box-shadow: 5px 10px 10px #ccc;
        }

        .category {
            width: 100%;
        }
    </style>
    {{>generalcss}}
</head>
<body>
    {{>navbar}}
    {{>shop_category_list products=products isAdmin=isAdmin}}
</body>
</html>