<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {{>generalcss}}
    {{>entrycss}}
</head>
<body>
    {{>navbar}}
    <div class="signupcontainer">
          <div class="left1">
            <img src="https://pixlr.com/images/generator/photo-generator.webp" style="width: 100%; height:650px;" alt="">
          </div>
          <div class="right1">
            <button class="google">
              <img src="google.svg" alt="" />
              <p>Log in with Google</p>
            </button>
            <div class="or">OR</div>
            <div class="uparp">
                <p>Please enter your Internet Archive email and password to access your Open Library account.</p>
            </div>

            <div class="inputdetails">
              <div class="mail">
                <p><b>Email:</b></p>
                <input class="m-3 w-1" type="text" />
              </div>
              <div class="Password">
              <p><b>Password:</b></p>
              <input class="m-2 w-1" type="text" />
            </div>
            <div class="check flex">
              <input  type="checkbox">
              <p>I accept all the terms and condition</p>
            </div>
            <div>
              <button class="don">Log in</button>
            </div>
            <div class="letcheck">
              <p>
                Don't have an account?<a href="/entry/signup">&nbsp;Sign up</a>
              </p>
            </div>
          </div>
        </div>
      </div>

      
</body>
</html>